array-api-compat==1.14.0
bounded-pool-executor==0.0.3
dcor==0.7
joblib==1.5.3
llvmlite==0.47.0
networkx==3.6.1
numba==0.65.0
numpy==2.4.4
pandas==3.0.2
pqdm==0.2.0
python-dateutil==2.9.0.post0
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.3
typing_extensions==4.15.0
